.test {
  margin-right: auto;
  width: 100;
  text-decoration: none;
  border: solid 10px black;
  color: inherit;
  scroll-behavior: auto;
  font-weight: 700;
  font-size: ;

  background: none;
  scroll-behavior: auto;
  font-size: small;
  overflow: auto;
  scrollbar-width: thin;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  );
  overflow-y: non;
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border: none;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  background: linear-gradient(to right, #2188f0 0%, #025d79 51%, #2188f0 100%);
  text-align: justify;

  background-color: #45c8ff;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}
